<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Test_1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Test_1.Properties.Settings.MOAConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=MOA;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <Test_1.Properties.Settings>
            <setting name="Alarm" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="Alarm_status" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Server" serializeAs="String">
                <value>DESKTOP-B1VLOGT\SQLEXPRESS</value>
            </setting>
            <setting name="Database" serializeAs="String">
                <value>MOA</value>
            </setting>
            <setting name="ID" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Mode" serializeAs="String">
                <value>SQL</value>
            </setting>
            <setting name="isChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="isTrial" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="isLicensed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GI" serializeAs="String">
                <value />
            </setting>
            <setting name="CalDate" serializeAs="String">
                <value />
            </setting>
            <setting name="Trial" serializeAs="String">
                <value />
            </setting>
            <setting name="KT" serializeAs="String">
                <value>53%53%51*</value>
            </setting>
            <setting name="m1" serializeAs="String">
                <value />
            </setting>
            <setting name="m2" serializeAs="String">
                <value />
            </setting>
            <setting name="m3" serializeAs="String">
                <value />
            </setting>
            <setting name="m4" serializeAs="String">
                <value />
            </setting>
            <setting name="ST" serializeAs="String">
                <value>48&amp;57*55&amp;50&amp;49@56@52&amp;</value>
            </setting>
            <setting name="s1" serializeAs="String">
                <value />
            </setting>
            <setting name="s2" serializeAs="String">
                <value />
            </setting>
            <setting name="s3" serializeAs="String">
                <value />
            </setting>
            <setting name="s4" serializeAs="String">
                <value />
            </setting>
        </Test_1.Properties.Settings>
    </userSettings>
</configuration>